@media screen and (max-width: 1300px) {
    .card-Item{
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 600px) {
    .header{
        height: 140px;
    }
    .navbar{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin-top: 15px;
    }
    .navbar ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .search input{
        width: 300px;
    }

    .slidebar{
        background-position: center;
    }
}