/* @import url(/css/animation.css); */

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background-color: black;
    width: 100vw;
    height: 58px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    padding: 0 25px;
}

.navbar {
    display: flex;
}

.navbar ul {
    display: flex;
    padding: 0 5px;
    height: 58px;
    justify-content: flex-start;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    padding: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.search{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.search input{
    width: 35vw;
    height: 22px;
    padding: 0 7px;
    border-radius: 4px;
}

.search img{
    height: 22px;
    width: 24px;
    background-color: #febd69;
    cursor: pointer;
}

.main{
    min-height: calc(100vh - 58px - 4vh);
}

.slidebar{
    background: url(/images/festival.jpg);
    background-size: cover;
    height: 300px;
}

.card{
    margin: 29px auto;
}

.card-Item{
    display: flex;
    justify-content: space-around;
}

.card-Box {
    width: 400px;
    height: 350px;
    background: #fff;
    margin: 10px 20px;
    box-shadow: 0 4px 14px #c4c2c2;
}

.card-Box h2{
    margin: 15px 22px;
}

.card-Box a{
    text-decoration: none;
}

.card-Box a p{
    display: inherit;
    margin: 0 23px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(38 84 183);
}

.card-Box a p:hover{
    color: black;
}

.card-Box a img {
    height: 200px;
    margin: 10px 23px;
    margin-bottom: 25px;
    display: flex;
}

.section {
    margin: 25px auto;
}

.common-Heading h1{
    position: relative;
}

.common-Section{
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    margin-top: 2rem;
}

.section-Box{
    width: 100%;
    height: 94%;
    margin: 10px 20px;
    overflow: initial;
    border: 2px solid black;
    box-shadow: 0 4px 14px #c4c2c2;
}

.section-Box img{
    width: 200px;
    height: 200px;
    margin: 0px 20px;
}

.price{
    border-top: 2px solid black;
    margin: -1px;
}

.price h3{
    float: left;
    margin: 6px 6px 0 80px;
}

.price p{
    font-size: 17px;
    margin: 8px 0;
}

.btn{
    width: 100%;
    border: 2px solid black;
    border-bottom: none;
    height: 45px;
    cursor: pointer;
}

.btn:hover{
    color: rgb(229 106 36);
    background-color: black;
    border: 2px solid rgb(229 106 36);
}

footer{
    height: 4vh;
    background-color: black;
    color: white;
}
footer p{
    padding: auto;
}

::-webkit-scrollbar {
    width: 0.234rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(80, 80, 80);
}